.app-player-profile {
  /* background-image: url(../appuser/app-player-profile-img-avatar.png); */
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 39.75px;
  height: 1px;
  width: 1px;
}
